<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-linkedin"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-square-twitter"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-whatsapp"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-instagram"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
        </div>
        <div class="team-content">
          <h3 class="name">Patricia Knott</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-linkedin"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-square-twitter"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-whatsapp"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-instagram"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
        </div>
        <div class="team-content">
          <h3 class="name">Justin Ramos</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-linkedin"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-square-twitter"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-whatsapp"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-instagram"></a></li>
        </ul>
      </div>
    </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=836">
        </div>
        <div class="team-content">
          <h3 class="name">Mary Huntley</h3>
          <h4 class="title">Web Developer</h4>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-linkedin"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-square-twitter"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-whatsapp"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa-brands fa-instagram"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
